dbody {
	header {
	    @media (min-width:786px) {
			padding-top:0;
		}
		a {
			&.navbar-brand {
				margin-right: 0;
				color:$accent_1;
				img {
					@media (max-width: 786px) {
					    max-height: 90px;
					    width: auto;
					}
					@media (min-width: 786px) {
						margin-right:1rem;
						min-width: 320px;
					}
				}
			}
		}
		h1 {
			a {
				&.navbar-brand {
					small {
						font-size: 55%;
						line-height: 100%;						
					}
				}
			}			
		}
		div {
			&#close {
			}
		}
	}	
}